.container-menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}

.item-menu {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.link-menu {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
}